<footer class="footer">
    <div class="footer_infer">
        <div class="footer_infer_legal">
            <h3>© 2025 Todos los derechos reservados | Developed by Zenova Digital</h3>
            <p style="text-align: center;"><a href="/legal/terminos-y-condiciones.html">Términos y condiciones de Uso</a> - <a href="/legal/politica-de-privacidad.html">Política de privacidad</a> - <a href="/legal/politica-de-cookies.html">Política de cookies</a> - <a href="/legal/aviso-legal.html">Aviso legal</a></p>
        </div>
        <div class="seccion_redes_sociales" style="display: none;">
            <div class="red_soc">
                <a href="https://www.tiktok.com/@Vibieninmobiliaria" target="_blank">
                    <img src="/assets/img/tiktok.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.instagram.com/Master Brokerinmobiliaria" target="_blank">
                    <img src="/assets/img/instagram.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.youtube.com/@Master Brokerinmobiliaria4300" target="_blank">
                    <img src="/assets/img/youtube.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.facebook.com/Master BrokerInmobiliaria" target="_blank">
                    <img src="/assets/img/facebook.png">
                </a>
            </div>
        </div>
    </div>
</footer>