<footer class="footer">
    <div class="footer_super">
        <div class="fondo_footer">
            <img src="/assets/img/fondofinal.webp">
        </div>
        <div class="footer_super_info">
            <h2>Da el primer paso hacia tu hogar soñado</h2>
            <p>La propiedad de tus sueños está a un solo clic. Tanto si busca un nuevo hogar, una inversión estratégica 
                o asesoramiento inmobiliario experto, Master Broker está aquí para ayudarle en cada paso del camino. 
                Dé el primer paso hacia tus objetivos inmobiliarios y explore nuestras propiedades disponibles 
                o póngase en contacto con nuestro equipo para recibir asistencia personalizada.

            </p>
        </div>
        <a href="/propiedades.html"><button>Explorar propiedades</button></a> 
    </div>
    <div class="footer_med">
        <div class="seccion_newsletter">
            <div class="logo-container">
                <div class="logo">
                    <img src="/assets/img/master.png" alt="Master Broker Logo">
                </div>
                <span class="brand-name">Master Broker</span>
            </div>
            <h3>Suscríbase a nuestro newsletter.</h3>
            <p>para estar al día con las ofertas y promociones.</p>
            <div class="seccion_newsletter_email">
                <img src="/assets/img/sobre-mas.png">
                <form action="">
                    <input type="email" placeholder="Introduzca su email">
                    <button type="submit"><img src="/assets/img/avion-de-papel.png" ></button>
                </form>
            </div>
        </div>
        <div class="seccion_info_extra">

        </div>
    </div>
    <div class="footer_infer">
        <div class="footer_infer_legal">
            <h3>© 2025 Todos los derechos reservados | Developed by Zenova Digital</h3>
            <p style="text-align: center;"><a href="/legal/terminos-y-condiciones.html">Términos y condiciones de Uso</a> - <a href="/legal/politica-de-privacidad.html">Política de privacidad</a> - <a href="/legal/politica-de-cookies.html">Política de cookies</a> - <a href="/legal/aviso-legal.html">Aviso legal</a></p>
        </div>
        <div class="seccion_redes_sociales" style="display: none;">
            <div class="red_soc">
                <a href="https://www.tiktok.com/@Master Brokerinmobiliaria" target="_blank">
                    <img src="/assets/img/tiktok.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.instagram.com/Master Brokerinmobiliaria" target="_blank">
                    <img src="/assets/img/instagram.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.youtube.com/@Master Brokerinmobiliaria4300" target="_blank">
                    <img src="/assets/img/youtube.png">
                </a>
            </div>
            <div class="red_soc">
                <a href="https://www.facebook.com/Master BrokerInmobiliaria" target="_blank">
                    <img src="/assets/img/facebook.png">
                </a>
            </div>
        </div>
    </div>
</footer>