<nav class="main-nav">
    <div class="nav-container">
        <!-- Logo -->
         <a href="/">
            <div class="logo-container">
                <div class="logo">
                    <img src="/assets/img/master.png" alt="Master Broker Logo">
                </div>
                <span class="brand-name">Master Broker</span>
            </div>
         </a>
        <!-- Menú Principal -->
        <ul class="main-menu">
            <li><a href="/dashboard/publicaciones.html">Publicaciones</a></li>
            <li><a href="/dashboard/interesados.html">Interesados</a></li>
            <li><a href="/dashboard/actividad.html">Mi actividad</a></li>
            <li><a href="/dashboard/subscripcion.html">Subscripción </a></li>
            <li style="display: none;"><a href="/propuestas/socialmediamanager.html" target="_blank">Redes sociales</a></li>
            <li style="display: none;"><a href="/dashboard/estadisticas.html">Estadísticas</a></li>
        </ul>
        <div class="principal_botones">
            <a class="publicar-btn" href="/dashboard/workspace/publicador.html">Publicar</a>
            <a class="iniciar-btn" href="/inicio_sesion.htm l">Iniciar sesion</a>
            <button class="user-btn" style="display: none;">U</button>
        </div>
        <div class="nav_user" style="display: none;">
            <div class="datos_user_contenedor">
                <div class="datos_user">
                    <h4>Nombre Usuario</h4>
                    <p>Identificador :<span> -----</span></p>
                </div>
            </div>
            <ul class="main-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros.html">Nosotros</a></li>
                <li><a href="/propiedades.html">Propiedades</a></li>
                <li><a href="/servicios.html">Servicios</a></li>
                <li><a href="/dashboard/configuracion/datos.html">Mi cuenta</a></li>
            </ul>
            <div class="main_menu_accion" style="margin-bottom: 80px;">
                <button class="cerrar_sesion">Cerrar Sesión</button>
            </div>
        </div>
        <label class="hamburger">
            <input type="checkbox">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>

    </div>
    
    <div class="nav_lateral_fondo">
        <div class="nav_lateral">

            <div class="menu_user" style="display: none;">
                <div class="datos_user">
                    <h4>Nombre Usuario</h4>
                    <p>Identificador :<span> -----</span></p>
                    <img src="/assets/img/angulo-hacia-abajo.png">
                </div>
                <ul class="main-menu" style="display: none;">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/nosotros.html">Nosotros</a></li>
                    <li><a href="/propiedades.html">Propiedades</a></li>
                    <li><a href="/servicios.html">Servicios</a></li>
                    <li><a href="/dashboard/configuracion/datos.html">Mi cuenta</a></li>
                    <div class="main_menu_accion" style="margin-bottom: 80px;">
                        <button class="cerrar_sesion">Cerrar Sesión</button>
                    </div>
                </ul>
            </div>
                
            <div class="principal_botones">
                <button class="publicar-btn">Publicar</button>
                <a href="/inicio_sesion.html" style="width: 100%;"><button class="iniciar-btn">Iniciar sesion</button></a>
            </div>

            <ul class="main-menu" style="margin-bottom: 80px;">
                <li><a href="/dashboard/publicaciones.html">Publicaciones</a></li>
                <li><a href="/dashboard/interesados.html">Interesados</a></li>
                <li><a href="/dashboard/actividad.html">Mi actividad</a></li>
                <li><a href="/dashboard/subscripcion.html">Subscripción </a></li>
                <li style="display: none;"><a href="/propuestas/socialmediamanager.html" target="_blank">Redes sociales</a></li>
                <li style="display: none;"><a href="/dashboard/estadisticas.html">Estadísticas</a></li>
            </ul>
        </div>
    </div>
</nav>